.default-sortable.rank-list-container {
  border: 0px; /* no list borders */
}

.default-sortable .rank-list-item {
  padding: 0px;
  border: 0px;
  flex: none;  /* prevent item overlap */
}

.default-sortable .rank-list {
  overflow: auto; /* scroll items horizontally */
}

.default-sortable.horizontal .rank-list-item {
  flex-grow: 0; /* prevent item stretching horizontally to fill space */
}

.default-sortable .rank-list.rank-list-empty {
  height: 110px;
  width: 403px;
}
